In [35]:
!pip install gdown

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: gdown in c:\users\rajan\appdata\roaming\python\python312\site-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in c:\programdata\anaconda3\lib\site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in c:\programdata\anaconda3\lib\site-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from gdown) (4.66.5)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->gdown) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->gdown) (2024.12.14)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->gdown) (0.4.6)

In [36]:
import gdown
import pandas as pd
file_id =  "1i4ia9ZNfAXgu6JGTXCUgFn7Pb8wltzLH"
download_url = f"https://drive.google.com/uc?id={file_id}"
output_file = "acko_dataset.csv"
gdown.download(download_url, output_file, quiet=False)
data = pd.read_csv(output_file)

Downloading...
From (original): https://drive.google.com/uc?id=1i4ia9ZNfAXgu6JGTXCUgFn7Pb8wltzLH
From (redirected): https://drive.google.com/uc?id=1i4ia9ZNfAXgu6JGTXCUgFn7Pb8wltzLH&confirm=t&uuid=039d8415-cd52-4a32-9064-c19a24133827
To: c:\Users\rajan\OneDrive\Python\Final_Project_NextLeap\acko_dataset.csv
100%|██████████| 219M/219M [00:30<00:00, 7.10MB/s]

In [37]:
data.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Woman,8.642140e+05,Spouse Present,1.0,Undergraduate,Business,26.598761,Tier-1,Premium,2.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,Detached Home,1945.913327
1,1,39.0,Woman,8.927012e+05,Spouse Present,3.0,Post Graduate,Missing,21.569731,Tier-2,Comprehensive,1.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,Detached Home,10908.896072
2,2,23.0,Man,2.201772e+06,Formerly Married,3.0,Undergraduate,Business,50.177549,Tier-3,Premium,1.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,Detached Home,21563.135198
3,3,21.0,Man,3.997542e+06,Spouse Present,2.0,Undergraduate,Missing,16.938144,Tier-2,Basic,1.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Flat,2653.539143
4,4,21.0,Man,3.409986e+06,Not Married,1.0,Undergraduate,Business,24.376094,Tier-2,Premium,0.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,Detached Home,1269.243463

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual Income         1155051 non-null  float64
 4   Marital Status        1200000 non-null  object
 5   Number of Dependents  1090328 non-null  float64
 6   Education Level       1200000 non-null  object
 7   Occupation            1200000 non-null  object
 8   Health Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy Type           1200000 non-null  object
 11  Previous Claims       835971 non-null   float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        784968 non-null   float64
dtypes: float64(8), int64(1), object(11)
memory usage: 183.1+ MB

In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
def calcualte_info (parameters):
    a=parameters.mean()
    b=min(parameters)
    c=max(parameters)
    d=parameters.nunique()
    e=parameters.unique()
    print(f"Mean is: {a}")
    print(f"Minimum is: {b}")
    print(f"Maximum is: {c}")
    print(f"Unique count is: {d}")
    #pd.DataFrame(print(f"Unique value is: {e}"))
    pd.DataFrame(e)
    #return(a,b,c,d,e)
calcualte_info(data['Premium Amount'])

Mean is: 25763.41142394362
Minimum is: 292.65005896500105
Maximum is: 240000.0
Unique count is: 784492

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual Income         1155051 non-null  float64
 4   Marital Status        1200000 non-null  object
 5   Number of Dependents  1090328 non-null  float64
 6   Education Level       1200000 non-null  object
 7   Occupation            1200000 non-null  object
 8   Health Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy Type           1200000 non-null  object
 11  Previous Claims       835971 non-null   float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        784968 non-null   float64
dtypes: float64(8), int64(1), object(11)
memory usage: 183.1+ MB

In [42]:
# Count missing values in the 'ID' column
missing_count = data['Premium Amount'].isna().sum()

print(f"Number of missing values in 'Premium Amount' column: {missing_count}")

Number of missing values in 'Premium Amount' column: 415032

Data Cleanup:

1. Handling Missing Values

In [43]:
#Age 18,705 missing - moderate impact - replacing the missing data with median that would be less sensitive to outliers
data['Age'].fillna(data['Age'].median(), inplace=True)

#Annual Income 44,949 missing values - High Impact - replacing with median
data['Annual Income'].fillna(data.groupby('Occupation')['Annual Income'].transform('median'), inplace=True)

# Number of Dependents 109,672 missing - Moderate Impact - since this is discrete so replacing this by mode
data['Number of Dependents'].fillna(data['Number of Dependents'].mode()[0], inplace=True)

#Health Score 74,076 missing - High Impact
data['Health Score'].fillna(data.groupby('Age')['Health Score'].transform('median'), inplace=True)

#Previous Claims 364,029 missing  new customers with no claims history - High Impact - replacing nan with 0 assuming no claim
data['Previous Claims'].fillna(0, inplace=True)

#Credit Score (137,882 missing) - High Impact
data['Credit Score'].fillna(data['Credit Score'].median(), inplace= True)

#Customer Feedback 77,824 missing - Moderate Impact
data['Customer Feedback'].fillna('Unknown', inplace=True)

#Premium Amount 415,032 missing - CRITICAL Issue - estimated with other factors
data['Premium Amount'].fillna(data.groupby(['Policy Type', 'Age'])['Premium Amount'].transform('median'), inplace=True)

print(data.isnull().sum())

C:\Users\rajan\AppData\Local\Temp\ipykernel_17064\1048913003.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(data['Age'].median(), inplace=True)
C:\Users\rajan\AppData\Local\Temp\ipykernel_17064\1048913003.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Annual Income'].fillna(data.groupby('Occupation')['Annual Income'].transform('median'), inplace=True)
C:\Users\rajan\AppData\Local\Temp\ipykernel_17064\1048913003.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Number of Dependents'].fillna(data['Number of Dependents'].mode()[0], inplace=True)
C:\Users\rajan\AppData\Local\Temp\ipykernel_17064\1048913003.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Health Score'].fillna(data.groupby('Age')['Health Score'].transform('median'), inplace=True)
C:\Users\rajan\AppData\Local\Temp\ipykernel_17064\1048913003.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Previous Claims'].fillna(0, inplace=True)
C:\Users\rajan\AppData\Local\Temp\ipykernel_17064\1048913003.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Credit Score'].fillna(data['Credit Score'].median(), inplace= True)
C:\Users\rajan\AppData\Local\Temp\ipykernel_17064\1048913003.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Customer Feedback'].fillna('Unknown', inplace=True)
C:\Users\rajan\AppData\Local\Temp\ipykernel_17064\1048913003.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Premium Amount'].fillna(data.groupby(['Policy Type', 'Age'])['Premium Amount'].transform('median'), inplace=True)

id                      0
Age                     0
Gender                  0
Annual Income           0
Marital Status          0
Number of Dependents    0
Education Level         0
Occupation              0
Health Score            0
Location                0
Policy Type             0
Previous Claims         0
Credit Score            0
Insurance Duration      1
Policy Start Date       0
Customer Feedback       0
Smoking Status          0
Exercise Frequency      0
Property Type           0
Premium Amount          0
dtype: int64

2. Handling categorical Data

-Converting categorical variables into numerical values to be used in the pricing formula.

In [44]:
# Binary Encoding
data['Gender_Num'] = data['Gender'].map({'Woman': 0, 'Man': 1})
data['Smoking_Status_Num'] = data['Smoking Status'].map({'No': 0, 'Yes': 1})

# Ordinal Encoding
data['Education_Level_Num'] = data['Education Level'].map({'Secondary Education': 1, 'Undergraduate': 2, 'Post Graduate': 3, 'PhD': 4})
data['Exercise_Frequency_Num'] = data['Exercise Frequency'].map({'Rarely': 0, 'Monthly': 1, 'Weekly': 2, 'Daily': 3})
data['Customer_Feedback_Num'] = data['Customer Feedback'].map({'Poor': 0, 'Average': 1, 'Good': 2, 'Unknown': 1})

# Define mappings
occupation_mapping = {'Full-Time Worker': 3, 'Business': 2, 'Not Currently Working': 1, 'Missing': 0}
location_mapping = {'Tier-1': 3, 'Tier-2': 2, 'Tier-3': 1}
property_mapping = {'Detached Home': 3, 'Flat': 2, 'Apartment': 1}
policy_mapping = {'Basic': 1, 'Comprehensive': 2, 'Premium': 3}

# Apply ordinal encoding in new columns
data['Occupation_Num'] = data['Occupation'].map(occupation_mapping)
data['Location_Num'] = data['Location'].map(location_mapping)
data['Property_Type_Num'] = data['Property Type'].map(property_mapping)
data['Policy_Type_Num'] = data['Policy Type'].map(policy_mapping)

In [45]:
data.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Premium Amount,Gender_Num,Smoking_Status_Num,Education_Level_Num,Exercise_Frequency_Num,Customer_Feedback_Num,Occupation_Num,Location_Num,Property_Type_Num,Policy_Type_Num
0,0,19.0,Woman,8.642140e+05,Spouse Present,1.0,Undergraduate,Business,26.598761,Tier-1,...,1945.913327,0,0,2,2,0,2,3,3,3
1,1,39.0,Woman,8.927012e+05,Spouse Present,3.0,Post Graduate,Missing,21.569731,Tier-2,...,10908.896072,0,1,3,1,1,0,2,3,2
2,2,23.0,Man,2.201772e+06,Formerly Married,3.0,Undergraduate,Business,50.177549,Tier-3,...,21563.135198,1,1,2,2,2,2,1,3,3
3,3,21.0,Man,3.997542e+06,Spouse Present,2.0,Undergraduate,Missing,16.938144,Tier-2,...,2653.539143,1,1,2,3,0,0,2,2,1
4,4,21.0,Man,3.409986e+06,Not Married,1.0,Undergraduate,Business,24.376094,Tier-2,...,1269.243463,1,1,2,2,0,2,2,3,3

3. Handling Outliers: handling the outliers here for better analysis

In [48]:
# Function to detect outliers using IQR
def detect_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return data[(data[column] < lower_bound) | (data[column] > upper_bound)]

# Checking outliers for key numerical columns
outlier_columns = ['Age', 'Annual Income', 'Health Score', 'Credit Score', 'Premium Amount']
outliers = {col: detect_outliers_iqr(data, col) for col in outlier_columns}

# Count the number of outliers per column
outlier_counts = {col: len(outliers[col]) for col in outlier_columns}
print(outlier_counts)

{'Age': 0, 'Annual Income': 117342, 'Health Score': 0, 'Credit Score': 0, 'Premium Amount': 126512}

In [49]:
# Capping outliers
for col in outlier_columns:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Apply capping
    data[col] = np.where(data[col] < lower_bound, lower_bound, data[col])
    data[col] = np.where(data[col] > upper_bound, upper_bound, data[col])